* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

body {
  font-family: Heebo;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  z-index: 2;
  position: fixed;
  width: 100%;
  background: #fff;
}
.header__row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 1230px) {
  .header__row {
    height: calc(50px + 30 * (100vw - 320px) /1100);
  }
}
@media (max-width: 1230px) {
  .header__row {
    height: calc(50px + 30 * (100vw - 320px) /1100);
  }
}
.header__burger {
  display: none;
  z-index: 3;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
}
@media (max-width: 767px) {
  .header__burger:before, .header__burger:after, .header__burger span {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger span {
  top: 9px;
}
@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #87cefa;
    padding: 80px 0px 20px 20px;
    transition: all 0.5s ease 0s;
    overflow: auto;
  }
}
@media (max-width: 767px) {
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
}
@media (max-width: 767px) {
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}
@media (max-width: 767px) {
  .header__burger.active span {
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }
}
.header__menu.active {
  top: 0;
}
.header__list {
  display: flex;
}
@media (max-width: 767px) {
  .header__list {
    display: block;
    z-index: 30;
  }
}
@media (min-width: 1230px) {
  .header__list li {
    padding-right: calc(15px + 18 * (100vw - 320px) /1100);
  }
}
@media (max-width: 1230px) {
  .header__list li {
    padding-right: calc(15px + 18 * (100vw - 320px) /1100);
  }
}
@media (max-width: 767px) {
  .header__list li {
    padding: 20px 0px 0px 0px;
    font-size: 20px;
  }
}
.header__list li a {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  transition: all 0.5s ease 0s;
}
.header__list li a:hover {
  color: #808080;
  transition: all 0.5s ease 0s;
}
.header__list li:last-child {
  padding: 0px;
}
@media (max-width: 767px) {
  .header__list li:last-child {
    padding: 20px 0px 0px 0px;
  }
}

.container {
  max-width: 900px;
  margin: 0px auto;
  padding: 0px 15px;
}

.content {
  flex: 1 1 auto;
}

.about__row {
  display: flex;
  align-items: center;
}
@media (min-width: 1230px) {
  .about__row {
    padding-top: calc(60px + 60 * (100vw - 320px) /1100);
  }
}
@media (max-width: 1230px) {
  .about__row {
    padding-top: calc(60px + 60 * (100vw - 320px) /1100);
  }
}
@media (min-width: 1230px) {
  .about__row {
    padding-bottom: calc(35px + 35 * (100vw - 320px) /1100);
  }
}
@media (max-width: 1230px) {
  .about__row {
    padding-bottom: calc(35px + 35 * (100vw - 320px) /1100);
  }
}
@media (max-width: 767px) {
  .about__row {
    flex-direction: column;
  }
}
@media (min-width: 1230px) {
  .about__body {
    padding-right: calc(50px + 65 * (100vw - 320px) /1100);
  }
}
@media (max-width: 1230px) {
  .about__body {
    padding-right: calc(50px + 65 * (100vw - 320px) /1100);
  }
}
@media (max-width: 767px) {
  .about__body {
    order: 2;
    text-align: center;
    padding: 0px;
  }
}
@media (min-width: 1230px) {
  .about__text {
    padding-top: calc(20px + 20 * (100vw - 320px) /1100);
  }
}
@media (max-width: 1230px) {
  .about__text {
    padding-top: calc(20px + 20 * (100vw - 320px) /1100);
  }
}
@media (min-width: 1230px) {
  .about__text {
    padding-bottom: calc(23px + 23 * (100vw - 320px) /1100);
  }
}
@media (max-width: 1230px) {
  .about__text {
    padding-bottom: calc(23px + 23 * (100vw - 320px) /1100);
  }
}
.about__button button {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  background: #ff6464;
  border-radius: 2px;
  transition: all 0.5s ease 0s;
}
@media (min-width: 1230px) {
  .about__button button {
    padding-top: calc(5px + 4 * (100vw - 320px) /1100);
  }
}
@media (max-width: 1230px) {
  .about__button button {
    padding-top: calc(5px + 4 * (100vw - 320px) /1100);
  }
}
@media (min-width: 1230px) {
  .about__button button {
    padding-bottom: calc(5px + 4 * (100vw - 320px) /1100);
  }
}
@media (max-width: 1230px) {
  .about__button button {
    padding-bottom: calc(5px + 4 * (100vw - 320px) /1100);
  }
}
@media (min-width: 1230px) {
  .about__button button {
    padding-left: calc(10px + 10 * (100vw - 320px) /1100);
  }
}
@media (max-width: 1230px) {
  .about__button button {
    padding-left: calc(10px + 10 * (100vw - 320px) /1100);
  }
}
@media (min-width: 1230px) {
  .about__button button {
    padding-right: calc(10px + 10 * (100vw - 320px) /1100);
  }
}
@media (max-width: 1230px) {
  .about__button button {
    padding-right: calc(10px + 10 * (100vw - 320px) /1100);
  }
}
.about__button button:hover {
  background: #ff4500;
  transition: all 0.5s ease 0s;
}
@media (max-width: 767px) {
  .about__img {
    order: 1;
    padding: 0px 0px 34px 0px;
  }
}
@media (min-width: 1230px) {
  .about__img img {
    height: calc(180px + 63 * (100vw - 320px) /1100);
  }
}
@media (max-width: 1230px) {
  .about__img img {
    height: calc(180px + 63 * (100vw - 320px) /1100);
  }
}
@media (min-width: 1230px) {
  .about__img img {
    width: calc(180px + 62 * (100vw - 320px) /1100);
  }
}
@media (max-width: 1230px) {
  .about__img img {
    width: calc(180px + 62 * (100vw - 320px) /1100);
  }
}

.main-title {
  color: #21243d;
  font-weight: bold;
}
@media (max-width: 767px) {
  .main-title {
    font-size: calc(32px + 20.4 * ((100vw - 320px) / 1500));
  }
}
@media (min-width: 767px) {
  .main-title {
    font-size: calc(32px + 12 * (100vw / 1500));
  }
}

.main-text {
  color: #21243d;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.posts {
  background: #edf7fa;
}
.posts__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.posts__link a {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #00a8cc;
  transition: all 0.8s ease 0s;
}
.posts__link a:hover {
  text-decoration: underline;
  transition: all 0.8s ease 0s;
}
.posts__row {
  display: flex;
  padding: 0px 0px 30px 0px;
  margin: 0px 5px 0px 0px;
}
@media (max-width: 600px) {
  .posts__row {
    flex-direction: column;
    align-items: center;
  }
}
.posts__item {
  flex: 0 0 50%;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 24px 20px;
}
@media (max-width: 600px) {
  .posts__item {
    margin: 0px 0px 10px 0px;
  }
}
.posts__item:last-child {
  border-right: none;
  margin: 0px 0px 0px 5px;
}
@media (max-width: 600px) {
  .posts__item:last-child {
    margin: 0px;
  }
}

.sub-title {
  font-weight: normal;
  font-size: 22px;
  color: #21243d;
  padding: 15px 0px;
}

.posts-item__title {
  font-weight: bold;
  font-size: 26px;
  color: #21243d;
}
.posts-item__date {
  padding: 17px 0px;
}
@media (min-width: 1230px) {
  .works__item {
    padding-bottom: calc(20px + 26 * (100vw - 320px) /1100);
  }
}
@media (max-width: 1230px) {
  .works__item {
    padding-bottom: calc(20px + 26 * (100vw - 320px) /1100);
  }
}
.works__item:last-child {
  padding: 0px;
}

.item-work__row {
  display: flex;
}
@media (max-width: 600px) {
  .item-work__row {
    flex-direction: column;
    align-items: center;
  }
}
.item-work__img {
  padding: 0px 18px 0px 0px;
}
@media (max-width: 600px) {
  .item-work__img {
    padding: 0px 0px 10px 0px;
  }
}
@media (max-width: 600px) {
  .item-work__body {
    max-width: 246px;
  }
}
.item-work__title {
  font-weight: bold;
  color: #21243d;
}
@media (max-width: 767px) {
  .item-work__title {
    font-size: calc(24px + 10.2 * ((100vw - 320px) / 1500));
  }
}
@media (min-width: 767px) {
  .item-work__title {
    font-size: calc(24px + 6 * (100vw / 1500));
  }
}
@media (max-width: 600px) {
  .item-work__title {
    padding: 0px 0px 10px 0px;
  }
}
.item-work__time {
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  background: #142850;
  border-radius: 16px;
  width: 45px;
  padding: 5px;
  margin: 20px 0px 22px 0px;
}
@media (max-width: 600px) {
  .item-work__time {
    display: none;
  }
}
.footer__row {
  display: flex;
  flex-direction: column;
  height: 182px;
  justify-content: center;
  align-items: center;
}
.footer__list {
  display: flex;
  padding: 0px 0px 26px 0px;
}
.footer__list li {
  padding: 0px 35px 0px 0px;
}
.footer__list li:last-child {
  padding: 0px;
}
.footer__list img {
  width: 30px;
  height: 30px;
}
.footer__text {
  font-size: 14px;
  line-height: 21px;
  color: #21243d;
}